*.iml
.gradle
.idea
local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build
/out
/riru/build
/zygisk/build
/module/files/system